*~
.ipynb_checkpoints/
__pycache__/
*.swp
.db
One_Tone/*.db
One_Tone/OneTone.db
OneToneQt/.vs/
OneToneQt/x64/
OneToneQt/x86/
OneToneQt/OneToneQt/x64/
OneToneQt/OneToneQt/x86/

PiPulseQt/*.db
PiPulseQt/PiPulseQt.db
PiPulseQt/.vs/
PiPulseQt/x64/
PiPulseQt/x86/
PiPulseQt/PiPulseQt/x64/
PiPulseQt/PiPulseQt/x86/



OneToneSimple/*.db
OneToneSimple/OneToneSimple.db
OneToneSimple/.vs/
OneToneSimple/x64/
OneToneSimple/x86/
OneToneSimple/OneToneSimple/x64/
OneToneSimple/OneToneSimple/x86/
